# Ingestion lambda env variables

OPEN_WEATHER_API_KEY=api-key
S3_BRONZE_BUCKET=weather-pipeline-bronze-ap-south-1-dev
WEATHER_CITIES=London,Tashkent,Moscow,Tokyo,New York,Paris,Berlin,Delhi
SNS_ALERT_TOPIC_ARN=arn:aws:sns:{REGION}:{ACCOUNT_ID}:weather-pipeline-sns-dev

